@charset "utf-8";
/* CSS Document */
/*Main Layout*/
* {
	margin: 0;  /*Removes default styling on the browser*/
	padding: 0;
}
body {
	background-color: #EBC3A7;
	margin: 0px;
	font-family: "Verdana, Georgia, Sans-Serif";
	font-size: 14px;
	color: white;
}
.header {
	background-color: white;
	height: 200px;
	margin: 10px;
	border-radius: 5px;	
}
.wrapper  {
	background-color: white;
	max-width: 100%;
	margin: 10px;
	border-radius: 5px;
}
ul {
	list-style-type: none;
}
li {
	display: inline-block;
	width: 30%;
	text-align: center;
	font-size: 1.5em;
	line-height: 2.5em;
	color: blue;
	letter-spacing: .01em;
	font-style: normal;
	font-weight: 300;
	font-family: "Verdana, Georgia, Sans-Serif";
}
ul li a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;/*This removes the under-line*/
	color: #C43C3E;
}
.main {
	background-color: white;
	margin: 10px;
	padding: 20px;
	height: 600px;
	border-radius: 5px;	
	font-size: 110%;
	color: black;
	text-align: left
}
.container {
	max-width: 100%;
	margin: auto;
	background-color: white;
	overflow: auto;
}
.box {
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: row;
}
.left {
	background: rgb(250, 250, 250);
	width: 50%;
	margin:20px 100px 20px 40px;
	padding: 40px;
	overflow: hidden;
	/*border: 1px solid;*/
	font-family: "Verdana, Georgia, Sans-Serif";
}
.right {
	width: 50%;
	margin: 20px 20px 20px 20px;
	overflow: hidden;
}
.gallery {
	margin: 20px;
	/*border: 1px solid #ccc;*/
	float: left;
	width: 30%;
}
.gallery img {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 450px;
	width: 100%;
}
.desc {
	padding: 15px;
	text-align: center;
}
table, th, td {
	font-size: 1em;
	color: black;
	font-family: "Verdana, Georgia, Sans-Serif";
	text-align: left;
} 
th, td {
	background-color: #f8f8f8;
	border: 1px solid white;
}
 input[type=checkbox],
      input[type=radio] {
        vertical-align: middle;
        position: relative;
        bottom: 1px;
      }
      input[type=radio] {
        bottom: 2px;
      }
#footer{
	background-color: white;
	height: 110px;
	margin: 10px;
	border-radius: 5px;
	color: black;
	text-align: center;
	padding: 15px;
	clear: both;
	font-size: 100%;
}
/*Styling for social media icons*/
.facebook {
	padding: 10px;
	width: 60px;
	text-decoration: none;
}
.facebook:hover {
	opacity: 0.7;
}
.facebook {
	color: white;
}
.twitter {
	padding: 10px;
	width: 60px;
	text-decoration: none;
}
.twitter:hover {
	opacity: 0.7;
}
.twitter {
	color: white;
}
.instagram {
	padding: 10px;
	width: 60px;
	text-decoration: none;
}
.instagram:hover {
	opacity: 0.7;
}
.instagram {
	color: white;
}
/*Styling <h>*/
.h1{
	font-family: "Verdana, Georgia, Sans-Serif";
	}
.h2 {
	font-family: "Verdana, Georgia, Sans-Serif";	
}
.h6 {
	font-family: "Verdana, Georgia, Sans-Serif";	
}